.nav {
  padding: 22px 0;
  font-family: var(--programiz-brand-base-font);
  background-color: var(--programiz-brand-dark-base-color);
  border-bottom: 1px solid var(--hover-color);
  height: 50px;
  display: flex;
  align-items: center;

  /* @include mqmax("md") {
      position: sticky;
      top: 0;
      left: 0;
      z-index: $zindex-sticky;
    } */
}

.nav-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.logo {
  width: 86px;
  height: 30px;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  align-items: flex-end;
  gap: 2px;
}
.logo-tag {
  color: var(--white);
  width: 22px;
  height: 12px;
  padding: 1px 2px;
  margin-bottom: 5px;
  display: block;
  text-transform: uppercase;
  line-height: normal;
  font-size: 8px;
  font-weight: 700;
  border: 1px solid var(--white);
  border-radius: 1.295px;
  border: 1px solid var(--programiz-brand-dark-text-primary);
}

.header,
.editor__output-header,
.editor__header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2023;
}

.upload-file {
  width: 100%;
  padding: 2px 12px;
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  cursor: pointer;
}
.upload-file input {
  display: none;
}
.upload-file:hover {
  background-color: #424448;
}

.editor {
  width: 100%;
  background-color: #1f2023;
}
.editor__wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .editor__wrapper {
    flex-direction: column;
  }
}
.editor__input {
  width: 60%;
}
@media (max-width: 768px) {
  .editor__input {
    width: 100%;
  }
}
.editor__output {
  width: 50%;
}
@media (max-width: 768px) {
  .editor__output {
    width: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.editor--half-width {
  width: 50%;
}
@media (max-width: 768px) {
  .editor--half-width {
    width: 100%;
  }
}
.editor__header {
  width: 100%;
  height: 40px;
  padding: 6px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.editor__output-header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
@media (max-width: 768px) {
  .editor__output-header {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.editor__title {
  padding: 12px 16px;
  font-size: 14px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #1c2130;
  color: white;
  /* position: absolute;
  inset: 0 auto auto 0; */
}
.editor__title h4 {
  font-style: normal;
  font-family: "Euclid Circular A";
  font-weight: 500;
  line-height: 16px;
}
.editor__btn {
  width: 73px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 2px;
  padding: 8px;
  font-family: "Euclid Circular A";
}
.editor__options {
  margin-right: 12px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}
.editor__options .download-btn.pro-btn--secondary:disabled {
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.editor__options .download-btn.pro-btn--secondary:disabled:hover {
  background-color: transparent;
}
.editor__menu {
  width: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #1f2023;
}
.editor__menu:hover,
.editor__menu:focus {
  background-color: #1f2023;
}
.editor__menu .menu-img-wrapper {
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1);
}
.editor__menu .menu-img-wrapper:hover {
  filter: none;
}
.editor__menu-content {
  display: none;
  color: #fff;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d2f34;
  display: none;
}
.editor__menu-content-element {
  width: 110px;
  color: #fff;
  padding: 2px 12px;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
.editor__menu-content-element:hover {
  background: rgba(255, 255, 255, 0.1);
}
.editor__code {
  padding-top: 12px;
  font-family: "Droid Sans Mono";
  background-color: #1c2130;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.editor__code--border-left-n {
  border-left: none;
}
.editor__console {
  height: 500px;
  background-color: #1c2130;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.editor__valid-output {
  padding: 12px 16px;
  display: flex;
  align-items: center;
}
.editor__valid-output p {
  color: #52b357;
  font-style: normal;
  font-size: 18px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  line-height: 26px;
}
.editor__invalid-output {
  padding: 12px 16px;
  display: flex;
  align-items: center;
}
.editor__invalid-output p {
  color: rgba(255, 255, 255, 0.87);
  font-style: normal;
  font-size: 14px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  line-height: 20px;
}
.editor--margin-top-zero {
  margin-top: 0;
}

.flex {
  display: flex;
  position: relative;
}

.pro-popover-content {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.pro-popover-content.pro-dropdown.editor__menu-content {
  padding: 12px 0;
  position: absolute;
  left: -89px !important;
  top: 27px !important;
  width: 110px !important;
}

.monaco-editor .mtk22 {
  color: #e99173;
}
.monaco-editor .mtk5 {
  color: #fff;
}

.monaco-editor .mtk7 {
  color: #e99173;
}

.monaco-editor .mtk4 {
  color: #e99173;
}

.slider {
  width: 4px !important;
  height: 252px !important;
  border-radius: 20px;
  left: 5px !important;
}

.decorationsOverviewRuler {
  width: 0 !important;
}

.pro-btn--loading-compact {
  min-height: 28px;
}

.rotation-loader {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid #fff;
}

.hidden-upload-input {
  display: none;
}

.pro-btn__icon--left {
  margin: 0;
}

.download-btn {
  height: 28px;
  color: rgba(255, 255, 255, 0.87);
  padding: 6px 8px;
  border-radius: 2px;
  background: transparent;
}
.download-btn:hover {
  color: #fff;
  background-color: #0556f3;
  border: 1px solid #0556f3;
}
.download-btn svg {
  width: 16px;
  height: 16px;
}

.copy {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 4px;
  border-radius: 4px;
}

.copy-enabled:hover {
  background-color: #424448;
}

.copy-disabled {
  cursor: not-allowed;
}

.Toastify__toast {
  width: 165px;
  min-height: auto !important;
  color: #fff !important;
  padding: 8px 24px !important;
  text-align: center;
  font-size: 12px;
  font-family: "Euclid Circular A";
  line-height: 16px;
  border: 1px solid #52b357;
  border-radius: 20px !important;
  background-color: #1c2130 !important;
  box-shadow: none !important;
  left: 25%;
  text-wrap: nowrap;
}
.Toastify__toast-container {
  top: 100px;
  position: absolute;
}
@media (max-width: 768px) {
  .Toastify__toast-container {
    top: 50px;
    position: fixed;
  }
}

.Toastify__toast.danger {
  border: 1px solid red;
}

.Toastify__toast-body {
  padding: 0 !important;
}

.monaco-scrollable-element {
  left: 56px !important;
}

.margin-view-overlays {
  width: 56px !important;
}

.current-line {
  width: 56px !important;
}

.monaco-scrollable-element {
  left: 56px !important;
}

.margin-view-overlays {
  width: 56px !important;
}

.current-line {
  width: 56px !important;
}

.monaco-editor .scroll-decoration {
  box-shadow: none !important;
}

.copy-btn {
  color: white;
}

.copy-disabled {
  color: rgba(255, 255, 255, 0.2);
}

.content-wrapper {
  max-width: 777px;
  padding: 32px 32px 100px;
  background: #383b40;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .content-wrapper {
    width: 100%;
  }
}

.content__title {
  color: #fff;
  font-size: 20px;
  font-family: "Euclid Circular A";
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 30px;
}
.content__paragraph {
  color: rgba(255, 255, 255, 0.87);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: "Euclid Circular A";
  line-height: 24px;
}
.content__paragraph a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: underline;
}
.content__paragraph a:hover {
  color: #00a3ff;
}
.content__image {
  margin-top: 32px;
}
.content__img-wrapper {
  width: 713px;
  height: 396px;
}

.content + .content {
  margin-top: 32px;
}

.othertools-wrapper {
  min-width: 333px;
  padding: 32px 32px 100px 32px;
  background: #2d2f34;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .othertools-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.othertools__title {
  color: rgba(255, 255, 255, 0.87);
  font-family: "Euclid Circular A";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.othertools__item {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.othertools__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
.othertools__item:hover .icon-wrapper {
  background: transparent;
}
.othertools__item .text {
  color: rgba(255, 255, 255, 0.87);
  font-family: "Euclid Circular A";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.othertools__item .icon-wrapper {
  padding: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.othertool-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.no-content {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
}

.content-width-control {
  width: 100%;
  padding: 32px 32px 48px 32px;
}

.content-section {
  background-color: #1f2023;
  z-index: 100;
  position: relative;
}

.content-frame {
  display: flex;
}
@media (max-width: 768px) {
  .content-frame {
    flex-direction: column;
  }
}

.footer {
  background-color: #1f2023;
}

@media (min-width: 576px) {
  .is-collapsed-mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
  }
}

@media (min-width: 576px) {
  .is-displayed-mobile {
    display: block;
  }
  .is-hidden-mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .is-displayed-mobile {
    display: none;
  }
}

@media print {
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  body {
    font: 12pt "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial",
      sans-serif;
    line-height: 1.3;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  footer {
    display: none;
  }
  header {
    margin-bottom: 40px;
  }
  header h1,
  header nav {
    display: none;
  }
  header:after {
    content: "www.domain-name.com";
  }
  header:before {
    display: block;
    content: "Thank you for printing our content at www.domain-name.com. Please check back soon for new contents.";
    margin-bottom: 10px;
    border: 1px solid #bbb;
    padding: 6px 8px;
    font-style: italic;
  }
  @page {
    margin: 0.5cm;
  }
  h1 {
    font-size: 24pt;
  }
  h2 {
    font-size: 14pt;
    margin-top: 25px;
  }
  aside {
    border-top: 1px solid #bbb;
    margin-top: 30px;
    display: block;
  }
  aside h2 {
    font-size: 18pt;
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.on-off-toggle {
  display: flex;
}
.code__wrapper {
  display: flex;
  position: relative;
  text-align: initial;
  width: auto;
  height: 500px;
}

.toast {
  z-index: 100;
  display: block;
  position: fixed;
  width: 165px;
  min-height: auto !important;
  color: #fff !important;
  padding: 8px 24px !important;
  text-align: center;
  font-size: 12px;
  font-family: Euclid Circular A;
  line-height: 16px;
  border: 1px solid #52b357;
  border-radius: 20px !important;
  background-color: #1c2130 !important;
  box-shadow: none !important;
  top: 102px;
  left: 671px;
  text-wrap: nowrap;
  animation: animation 0.5s ease-in-out;
}

@keyframes animation {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hide-toast {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.mtk9 {
  color: white !important;
}

.nav__list {
  position: relative;
}
